    
footer {
    background-color: $clr-footer;
    color: #DFE0DF;

    address {
        text-align: end;
    }
    


    .footer_logo {
        text-align: center;
        font-size: clamp(1.2rem, 2.2vw, 1.5rem);
        padding: 0.5rem;
        font-weight: bold;

        img {
            width: 70px;
        }
    }

    .redes_horarios {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        font-size: clamp(0.7rem, 1.2vw, 1.5rem);
        padding-bottom: 1rem;
        


        .redes {
            display: flex;
            flex-flow: column;
        }
    }


    .copyright {
        opacity: 0.70;
    }
    
}
