

section.local {
    background: $clr-light;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;

    border-radius: 1rem;
    padding: 2rem;
    margin: 0 auto;
}

        section.local .local_txt {
            display: flex;
            flex-direction: column;

            align-items: center;
            border-radius: 1rem;
        }
        section.local .local_txt a {
            color: $clr-link;
            font-weight: bold;
        }

        section.local .local_txt a:hover {
            text-decoration: underline;
        }

        section.local img {
            padding-bottom: 1rem;
        }


.mapa {
    max-width: 100%;
    height: 100%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}

@media only screen and (max-width: 1024px) {
    section.local {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    
        border-radius: 1rem;
        padding: 2rem;
        margin: 0 auto;
    }

    .mapa {
        max-width: 100%;
        height: 400px;
    }
    
}